<div class="add-product">
        <h1>Add New Product</h1>
        <p class="message-p">{{addProductMsg}}</p>
        <form class="common-form" #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)">
            <input class="form-input" type="text" placeholder="Enter Product Name" name="name" ngModel>
            <input class="form-input" type="text" placeholder="Enter Product Price" name="price" ngModel>
            <input class="form-input" type="text" placeholder="Enter Product category" name="category" ngModel>
            <input class="form-input" type="text" placeholder="Enter Product Color" name="color" ngModel>
            <textarea class="form-input" type="text" placeholder="Enter Product Description" name="description" ngModel></textarea>
            <input class="form-input" type="text" placeholder="Enter Product Image URL" name="image" ngModel>
            <button class="form-button">Add Product</button>
        </form>
</div>