<div class="seller-auth">
    <div class="sign-up">
        <h1>Seller sign-up</h1>
        <form class="common-form" #sellerSignUp="ngForm" (ngSubmit)="signup(sellerSignUp.value)">
            <input class="form-input" type="text" placeholder="Enter Name" name="name" ngModel>
            <input class="form-input" type="password" placeholder="Enter Password" name="password" ngModel>
            <input class="form-input" type="text" placeholder="Enter Email" name="email" ngModel>
            <button class="form-button">Sign up</button>
        </form>
    </div>
</div>